<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="9c609b06-32a9-4adf-82f3-aa36a26e6e81" Publisher="CN=Philipp.Bauknecht" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="9c609b06-32a9-4adf-82f3-aa36a26e6e81" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Redmine.WindowsPhone</DisplayName>
    <PublisherDisplayName>Philipp.Bauknecht</PublisherDisplayName>
    <Logo>Assets\Tile.Default.Store.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Redmine.WindowsPhone.App">
      <m3:VisualElements DisplayName="RedTickets" Square150x150Logo="Assets\Tile.Default.Medium.png" Square44x44Logo="Assets\Tile.Default.Applist.png" Description="Redmine.WindowsPhone" ForegroundText="light" BackgroundColor="#DC3C00">
        <m3:DefaultTile Wide310x150Logo="Assets\Tile.Default.wide.png" Square71x71Logo="Assets\Tile.Default.small.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>